body {

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;


}

@-ms-viewport{
  width: device-width;
}

/*
#particles-js {

	width: 100%;
	height: 100%;
	background: #000;
	background: linear-gradient (45deg, #e91e63, #ff9800);

}
*/

 #foobar {
     display: none;
}



#particles-js {
position: absolute;
    right: 40%;
  width: 20%;
  height: 100vh;
  background: url(w3.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;      
      
      
    /*
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
*/
/*  background-position: 50% 50%;*/
/*    background: linear-gradient(90deg,#000,#696969);*/
}


#particles-js1 {
  position: absolute;
  width: 20%;
  height: 100vh;
  background: url(w1.jpg);
  background-position:center;

/*
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
*/
/*  background-position: 50% 50%;*/
}

#particles-js2 {
  position: absolute;
  right: 60%;
  width: 20%;
  height: 100%;
  background: url(w2.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*
  background-repeat: no-repeat;
  background-size: cover;
*/
/*  background-position: 33% 33% 33%;*/
}

#particles-js3 {
  position: absolute;
  right: 20%;
  width: 20%;
  height: 100vh;
  background: url(w4.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
/*
  background-repeat: no-repeat;
  background-size: cover;
*/
/*  background-position: 33% 33% 33%;*/
}

#particles-js4 {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100vh;
  background: url(w6.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
/*
  background-repeat: no-repeat;
  background-size: cover;
*/
/*  background-position: 50% 50%;*/
}
